
<div class="well">
    <div class="input-group input-group-lg">
        <input type="text" class="form-control" #search="ngModel" [(ngModel)]="searchTerm" placeholder="Search for..." required>
        <span class="input-group-btn">
            <a [routerLink]="['/search',search.value]" class="btn btn-default" type="button"  (click)="searchQuery(search.value)"><span class="glyphicon glyphicon-search"></span></a>
        </span>
    </div><!-- /input-group -->
</div>



<table *ngIf="posts?.length>0;else noPost" class="table table-striped">

    <tr *ngFor="let post of posts">
        <td><span class="glyphicon glyphicon-envelope icon"></span></td>
        <td><a [routerLink]="['/post',post.id]">{{ post.title }}</a></td>
    </tr>
</table>
<ng-template #noPost><h1 class="text-danger">No Post Available</h1></ng-template>