
<div class="well well-lg">
    <h1>Sova App</h1>
    <p class="text-muted">Welcome to your new single-page application</p>

</div>

<div>
    <table class="table-responsive" *ngIf="posts?.length>0;else noPost" class="table table-striped">

        <tr *ngFor="let post of posts">
            <td><span class="glyphicon glyphicon-envelope icon"></span></td>
            <td><a [routerLink]="['/post',post.id]">{{ post.title }}</a></td>
        </tr>
    </table>
    <ng-template #noPost><h1 class="text-danger">No Post Available</h1></ng-template>
</div>

<pagination [total-items]="2000" [page-size]="query.pagesize" (page-changed)="currentPage($event)"></pagination>
